body{
    font-family: 'Poppins', sans-serif; 
    margin:0px;  
}
h1{
    font-size:40px;}
    .blue-color{
        color:blue;
    }
  .flexible-container{
        display:flex;
        margin-bottom: 100px;
    }
    .half-width{width:50%;
        padding-left:3%;
        
    }
    .half-width img{
        width:80% ;
    }
    .link-button{
        text-decoration:none;
        background-image:linear-gradient(yellow,orange);
        padding:10px 30px;
        border-radius: 5px;
        color: cornsilk;
        font-weight: 400;
    }
    .top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
    }
    .dream-big{
        background-image:url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position-x:right;

    }.orange-color{
color: gold;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience-item{
    box-shadow:10px 10px 40px lawngreen;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
   ;
}
#web-1{border-image:linear-gradient(red,orange) ;
    border-left: 7px solid;
    border-image-slice:1 ;
}
    
#web-2{border-image:linear-gradient(red,orange) ;
    border-left: 7px solid;
    border-image-slice:1 ;
}
footer p{
    text-align: center;
}



